* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.box {
    margin: 45px auto;
    width: 650px;
    height: 650px;
    background: #19191A;
    position: relative;
}

.box::before {
    position: absolute;
    content: "";
    top: 180px;
    left: 150px;
    width: 185px;
    height: 380px;
    background: #F9E492;
}


.box::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 149px;
    width: 320px;
    height: 320px;
    background: red;
    border-radius: 100%;
    background: #4F77FFae;
}